@use "themes" as themes;

:root,
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  color: themes.$color;
  background-color: themes.$background-color;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  A {
    text-decoration: none;
    margin: 0 5px;
    color: themes.$color;
  }
  .underlined {
    text-decoration: underline;
  }
}
